.hero-section{
    background-color: #37517E !important;
    color: white !important;
}


.hero-section a{
    color: white !important;
    background-color: #37517E !important;
}
.dropdown-menu a{
    color: black !important;
    background-color: white !important;
}

.brand-iamges img{
    filter: grayscale(100%) !important;
}
.text-blue{
    color: #37517E;
}
.gray{
    width: 20%;
    height: 2px;
    background: lightgray;
    margin: auto;
    position: relative;
}
.blue{
    width: 30%;
    height: 5px;
    background: #47B2E4;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.progress1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    font-size: 0.8rem;
}
.bg-blue{
    background-color: #37517E;
}
.my-service-card{
    transition: all 1.3s;
    cursor: pointer;
}
.my-service-card:hover{
    transform: translateY(-15px);
}
.my-service-card:hover h4{
    color: #47B2E4;
}
.my-work-card img{
    transition: all 0.5s;
}
.number{
    position: relative;
    z-index: 9999;
}
.my-work-card:hover img{
    scale:1.1;
}
.card-contact{
    transition: 0.5s;
}

.my-work-card:hover .card-contact{
    transform: translateY(-20px);
}
.building{
    background: linear-gradient(to right,rgba(36, 62, 98,0.5),rgba(36, 62, 98,0.8)),url("https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp")fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call{
    background: none;
    border: 1px solid white;
}
.padding{
    padding: 3rem;
}
.click-btn button{
    transition: all 0.3s;
}
.click-btn button:hover{
background: #47B2E4;
}
.img-overlay{
    position: relative;
    overflow: hidden;
    
}
.underlay{
position: absolute;
width: 100%;
bottom: 0;
z-index: 9999;
background: rgb(255, 255, 255);
transform: translateY(99px);
transition: all 0.3s;
padding: 15px;
}
.img-overlay:hover .underlay{
    transform: translateY(0);

}
.accordion-header button:hover{
    color: #47B2E4 !important;
}
.email{
    border: 1px solid #47B2E4;
    width: 100%;
    border-radius: 40px 0 0 40px;
    font-size: 1.2rem;
}
.email-adress{
    display: flex;
    align-items: center;
}
.subcribe{
    padding: 5rem;
}
.newsletter{
border-radius: 10px;
}
.she{
    margin-bottom: -3rem;
    padding-left: 6rem;
}
.july{
    transition: all 1s;
}
.july:hover{
    scale: 1.1;
}

.blogs:hover .aunt{
color: #47B2E4;
}
.aunt{
    transition: all 0.4s;
}
.useful:hover a{
color: #47B2E4 !important;
}
.anim-img{
    animation: move 1s linear alternate infinite !important;

}


 @keyframes move {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-20px);
      }
    }


